@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 4

   Park City Gazette Style Sheet
   Author: 
   Date:   

   Filename:         pcg_paper.css
   Supporting Files: 

*/
/* nav */
.dropdown {
    position: relative;
    /* display: inline-block; */
    transition: 0.3s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px black;
    padding: 12px 16px;
    z-index: 1;
    transition: 0.3s;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav {
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    filter: drop-shadow(0 0 100px black);
    margin: 0, auto;

}

header > nav {
    display: table;
    width: 100%;
}

header > nav > ul {
	display: table-row;
	list-style-type: none;
}

header>nav>ul>li {
	display: table-cell;
	text-align: center;
}

nav a {
    margin: 5px 2px;
    padding: 10px 5px;
    background-color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    color: rgb(37, 179, 204);
    font-size: 15px;
    vertical-align: middle;
    border: rgba(37, 179, 204, 0.85) .75px solid;
    border-radius: 15px;
    transition: 0.3s;
}
